<div class="aboutpage">
  <a data-gn-active-tb-item="catalog.search#/home" title="eCat Home Page">
    <i class="fa fa-home" aria-hidden="true" style="font-size: 2em;"></i>
  </a>

  <div class="container" style="max-width: 1250px; margin: auto;">
    <h2 style="text-align: left">ABOUT US 
        <img src="https://ga-ecat3-temp.s3-ap-southeast-2.amazonaws.com/governancegraphic.png" alt="Governance graphic" style="float:right;" />
    </h2>

    <p>
        Geoscience Australia is Australia's pre-eminent public sector geoscience organisation. 
        We are the nation's trusted advisor on the geology and geography of Australia. 
        We apply science and technology to describe and understand the Earth for the benefit of Australia.
    </p>

    <h2>ABOUT OUR CATALOGUE</h2>
    <p>
        Geoscience Australia maintains an extensive catalogue for its data, publications, online tools, maps and videos that have 
        been approved for publication. These products are available to the general public free of charge via the Data and 
        Publications Search on the Geoscience Australia internet 
        page <a href="https://www.ga.gov.au" target="_blank"> https://www.ga.gov.au</a>.
        
    </p>
    <p>
        Geoscience Australia’s Data and Publications Search Tool is a customised open source application called 
        <a href="https://geonetwork-opensource.org/" target="_blank">GeoNetwork.</a>
        The catalogue is based on the international metadata profile <a href="https://www.iso.org/standard/53798.html" target="_blank">ISO 19115:2014</a> 
        and also incorporates Geoscience Australia's 
        business, technical and user requirements. For further information on Geosciences Australia’s data standards 
        click <a href="https://www.ga.gov.au/data-pubs/datastandards" target="_blank">here</a>.
    </p>

    <h2>FREQUENTLY ASKED QUESTIONS:</h2>
    <div>
        <input class="aboutecatinput" type="checkbox" id="faq1" />
        <label class="aboutecatlabel" for="faq1">WHAT TYPE OF DATA AND PUBLICATIONS ARE AVAILABLE IN THE SEARCH?</label>

        <div class="aboutecatcontent">
            <p>
                The types of Data and Products discoverable in the Data and Publications Search, 
                include but are not limited to, web services, portals, educational products, datasets, 
                documents, posters, multimedia, software, maps, models, abstracts, physical items and databases.<br>
            </p>

            <p>
                Access to the product output may take different forms, such as download links to files, 
                links to web services, portals, databases, datasets and multimedia etc. <br>
            </p>

            <p>
                Access to the physical items can be gained by contacting <a href="mailto:clientservices@ga.gov.au">Client Services</a><br>
            </p>
        </div>

        <input class="aboutecatinput" type="checkbox" id="faq2" />
        <label class="aboutecatlabel" for="faq2">HOW IS THE ‘SEARCH BAR’ DIFFERENT TO AN ‘ADVANCED SEARCH’?</label>

        <div class="aboutecatcontent">
            <p>
                The ‘Search bar’ allows you to query all metadata fields of the Data and Publications catalogue 
                for any occurrence of text or a Catalogue ID. Use the ‘Search bar’ facility to type your query and then click 
                on the magnifying glass to execute your search.
            </p>

            <p>
                Examples:
                <ul>
                    <li> 
                        Entering ‘Bathymetry’ will display results that have an occurrence of ‘Bathymetry’ in <b>any</b> metadata field of 
                        the catalogue record, for e.g. ‘Title’, ‘Abstract’, ‘Lineage’, ‘Purpose’ or any metadata field that may make 
                        reference to it.
                    </li>
                    <li>
                        Entering an ‘author’s’ name will display results that have an occurrence of the name in <b>any</b> metadata field of 
                        the catalogue metadata record, for e.g. ‘Author’, ‘Point of Contact’ or any metadata field that may make 
                        reference to it.
                    </li>
                    <li>
                        Entering an ‘eCat ID’ will display catalogue records with an occurrence of the catalogue ID in <b>any</b> metadata field  
                        of the catalogue metadata record, for e.g. ‘eCat ID’ field, ‘associated record’ or any metadata field that may make 
                        reference to it.
                    </li>
                </ul>
            </p>

            <p>
                The ‘Advanced Search’ allows you to query a specific metadata field. Click on ‘Advanced’ in the search bar to open 
                the ‘Advanced Search’.  The Data and Publications Tool will search that <b>specific field</b> in all catalogue metadata 
                records for any occurrence of the entered text, author’s name or catalogue ID.
            </p>

            <p>
                Examples:
                <ul>
                    <li>
                        Entering ‘Bathymetry’ in the ‘Title’ search will query the ‘Title’ field of the metadata of all catalogue records 
                        and only display the records with ‘Bathymetry’ in their <b>Title</b>.
                    </li>
                    <li>
                        Entering a name in the ‘Author’ field will <b>only</b> display the records with that name in the <b>Author</b>
                        field of the catalogue record.
                    </li>
                    <li>
                        Entering a catalogue ID in the ‘eCat ID’ search will query the ‘eCat ID’ field of the metadata of all catalogue 
                        records and <b><i>should</i> only</b> display that specific catalogue record.
                    </li>
                </ul>
            </p>

            <p>Further guidance can be found in the help videos</p>
        </div>

        <input class="aboutecatinput" type="checkbox" id="faq3" />
        <label class="aboutecatlabel" for="faq3">WHY IS THERE AN ASTERISK (*) AFTER SOME NAMES UNDER THE TITLE OF A RECORD?</label>

        <div class="aboutecatcontent">
            <p>
                The presence of an asterisk beside names that appear under the Title of the record denotes they are a co-author 
                rather than an author. 
            </p>
        </div>

        <input class="aboutecatinput" type="checkbox" id="faq4" />
        <label class="aboutecatlabel" for="faq4">WHICH WEB BROWSER SHOULD I USE?</label>

        <div class="aboutecatcontent">
            <p>
                We recommend that you use Google Chrome as other platforms (e.g. Internet Explorer) may have issues 
                with displaying the Data and Publications Search correctly.
            </p>
        </div>
    </div>

    <h2>ENQUIRES & FEEDBACK</h2>
    <p>
        Any queries about or feedback for the Data and Publications Search can be directed to Geoscience Australia’s Client Services:<br>
        Email &ensp; <a href="mailto:clientservices@ga.gov.au">clientservices@ga.gov.au</a><br>
        Call 1800 800 173 &ensp; or &ensp; Fax 02 6249 9966
    </p>
  </div>  

  <style>
    /* Accordion style, credit: https://supfort.com/add-toggle-plus-minus-css-accordion 
    20211020: This style is only for accordions on this ABOUT US static page. 
    If such times arise when accordions are no longer required, then this entire css can be safely discarded.
    */
    .aboutecatinput {
        display: none;
    }
    
    .aboutecatlabel {
        display: block;    
        padding: 8px 22px;
        margin: 0 0 1px 0;
        cursor: pointer;
        background: #EBEBE3;
        border-radius: 3px;
        color:#4F4F48;
        transition: ease .5s;
        position: relative;
    }
    
    .aboutecatlabel:hover {
        background: #cacabb;
    }
    
    .aboutecatlabel::after {
        content: '+';
        font-weight: bold;
        position: absolute;
        right: 10px;
        top: 2px;
    }
    
    .aboutecatinput:checked + label::after {
        content: '-';
        right: 14px;
        top: 3px;
    }
    
    .aboutecatcontent {
        padding: 10px 25px;
        border: 1px solid #A7A7A7;
        margin: 0 0 1px 0;
        border-radius: 3px;
    }
    
    .aboutecatinput + .aboutecatlabel + .aboutecatcontent {
        display: none;
    }
    
    .aboutecatinput:checked + .aboutecatlabel + .aboutecatcontent {
        display: block;
    }
  </style>

</div> 