<!-- Carousel -->
<div class="container">
  <div class="home-container-outer">
    <input type="search" class="form-control input-md" id="gn-any-field" data-ng-model="searchObj.params.any"
      data-ng-model-options="modelOptionsForm" 
      placeholder="Search..."
      data-ng-keyup="$event.keyCode == 13 && triggerSearch()" 
      class="form-control" />
    <span>
      <button class="btn btn-lg searchbutton" type="button" data-ng-click="homeSearch()">
        <i class="fa fa-search"></i>
      </button>
    </span>
  </div>
  <div class="search-border-container"></div>
</div>
<div id="ecat-home">
  
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://ga-ecat3-temp.s3-ap-southeast-2.amazonaws.com/3.png">
    </div>
    

    <div class="main-text">

      <div class="col-md-12 text-center">
        <div class="homepage-slide-color-black">
          <div class="hidden-xs hidden-sm"><h3 style="padding-top: 50px; font-size :28px"><b>Search Popular Catalogue Themes</b></h3></div>
          <div class="col-xs-12 col-md-3 carousal-item">
            <h3><a href="" data-ng-click="searchHomePageItem('ga_publication')"><font color="#ffffff">Geoscience Australia Publications</font></a></h3>
            <p class="hidden-xs">This includes Geoscience Australia records, Professional opinions, Reports, Scientific papers, Promotional material and Presentations. </p>
            <a class="btn btn-lg btn-ga hidden-xs hidden-sm" data-ng-click="searchHomePageItem('ga_publication')" role="button">Search</a>
          </div>
		 
		  <div class="col-xs-12 col-md-3 carousal-item" style="padding-top :20px">
            <h3><a href="" data-ng-click="searchHomePageItem('latest_publication')"><font color="#ffffff">Latest Releases</font></a></h3>
            <p class="hidden-xs">Explore new publications, datasets and services from Geoscience Australia.</p>
            <a class="btn btn-lg btn-ga hidden-xs hidden-sm" href="" data-ng-click="searchHomePageItem('latest_publication')" role="button">Search</a>
          </div>
          
 		  <div class="col-xs-12 col-md-3 carousal-item" style="padding-top :20px">
            <h3><a href="" data-ng-click="searchHomePageItem('')"><font color="#ffffff">Catalogue</font></a></h3>
            <p class="hidden-xs">Search all resources from Geoscience Australia's product catalogue.</p>
            <a class="btn btn-lg btn-ga hidden-xs hidden-sm" href="" data-ng-click="searchHomePageItem('')" role="button">Search</a>
          </div>
          <div class="col-xs-12 col-md-3 carousal-item">
            <h3><a href="" data-ng-click="searchHomePageItem('edu_products')"><font color="#ffffff">Educational Products</font></a></h3>
            <p class="hidden-xs">Resources intended to provide information for Science and Geography teachers to support
              their work with students in upper primary and secondary settings. </p>
            <a class="btn btn-lg btn-ga hidden-xs hidden-sm" data-ng-click="searchHomePageItem('edu_products')" role="button">Search</a>
          </div>
         
          </div>
      </div>
    </div>
  </div>
</div>
