
<div class="gn-nav" role="navigation"
  data-ng-include="'../../catalog/templates/top-toolbar.html'" xmlns="http://www.w3.org/1999/html">
</div>

<div class="gn-search-page" data-ng-controller="GnSearchController">
  <cookiewarning></cookiewarning>
  <div class="" data-ng-controller="gnsDefault">
    <gn-extend-mainctrl></gn-extend-mainctrl>

    <div data-ng-include="'../../catalog/views/default/templates/home.html'" data-ng-show="activeTab == '/home'" />
    <div data-ng-include="'../../catalog/views/default/templates/results.html'" data-ng-show="activeTab == '/search'" />
	<div data-ng-include="'../../catalog/views/default/templates/about.html'" data-ng-show="activeTab == '/about'" />
    <div data-ng-if="isMapViewerEnabled" data-ng-include="'../../catalog/views/default/templates/map.html'"
      data-ng-show="activeTab == '/map'" />
    <div data-ng-include="'../../catalog/views/default/templates/recordView.html'"
      data-ng-show="activeTab == '/metadata'" />
  </div>
</div>

<footer id="footer-main" class="footer-global">

  <div class="container">
    <div class="block-group">

      <nav id="footer-bottom-nav" class="block col-width-auto">
        <ul class="nav nav-pills">
          <!--  <li>&copy; Commonwealth of Australia</li> -->
          <li><a href="http://www.ga.gov.au/copyright">Copyright</a></li>
          <li><a href="http://www.ga.gov.au/privacy">Privacy</a></li>
          <li><a href="http://www.ga.gov.au/accessibility">Accessibility</a></li>
          <li><a href="http://www.ga.gov.au/sitemap">Sitemap</a></li>
          <li><a href="http://www.ga.gov.au/ips">Information Publication Scheme</a></li>
          <li><a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a></li>
        </ul>
      </nav>

      <div class="block col-lg-1-12" style="padding-top:15px;">Geoscience Australia acknowledges the
        traditional owners of the country throughout Australia and their continuing connection to land, sea
        and community. We pay our respect to them and their cultures and to the elders past and present.
      </div>

    </div>
  </div>
</footer>