<div data-ng-controller="GnMdViewController" class="container">

  <div class="alert alert-warning" data-ng-hide="mdView.current.record" data-translate=""
    data-translate-values="{uuid: '{{recordIdentifierRequested | htmlToPlaintext}}'}">
    recordNotFound
  </div>

  <div class="container-fluid gn-rv-container">
    <div class="row rv-action-menu" data-ng-show="mdView.current.record">
      <div class="col-md-5">
        <button class="btn btn-sm btn-secondary" data-ng-click="closeRecord(mdView.current.record)">
          <i class="fa fa-search"></i>
          <span>{{'backTo' + (fromView || 'search') | translate}}</span>
        </button>
      </div>
      <div class="col-md-3" data-ng-if="user.canEditRecord(mdView.current.record)">
        <a class="btn btn-danger gn-md-delete-btn pull-right" data-ng-show="user.canEditRecord(mdView.current.record)"
          data-gn-click-and-spin="deleteRecord(mdView.current.record)"
          data-gn-confirm-click="{{'deleteRecordConfirm' | translate:mdView.current.record}}"
          title="{{'delete' | translate}}">
          <i class="fa fa-times"></i>
        </a>

        <a class="btn btn-primary gn-md-edit-btn pull-right" data-ng-show="user.canEditRecord(mdView.current.record)"
          data-ng-href="catalog.edit#/metadata/{{mdView.current.record.getId()}}" title="{{'edit' | translate}}">
          <i class="fa fa-pencil"></i>
        </a>
      </div>
      <div class="col-md-4">
        <div class="gn-md-actions-btn pull-right" data-gn-md-actions-menu="mdView.current.record" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-12 rv-title">
        <h1>
          <i class="fa gn-icon-{{mdView.current.record.type[0]}}" />
          {{mdView.current.record.title || mdView.current.record.defaultTitle}}
        </h1>
        <ul style="line-height: 1.9">
          <li data-ng-repeat="auth in getAsArray(mdView.current.record.author) track by $index" class="tt-cursor"
            title="{{'clickToFilterOn' | translate}} {{auth}}">
            <a href="" data-ng-click="search({'author': auth})"><i data-ng-if="$index > 0"> | </i>{{auth}}</a>
          </li>
          <br>
          <li data-ng-if="mdView.current.record.coAuthor" data-ng-repeat="auth in getAsArray(mdView.current.record.coAuthor) track by $index" class="tt-cursor"
            title="{{'clickToFilterOn' | translate}} {{auth}}">
            <a href="" data-ng-click="search({'author': auth})"><i data-ng-if="$index > 0"> | </i>{{auth}}</a><span title="Co-Author">*</span>
          </li>
        </ul>
        <div class="subheader">Abstract</div>
        <div class="abstract-view" data-ng-bind-html="mdView.current.record.abstract | newlines" />

        <hr>
        <div class="subheader">Related Keywords</div>
        <div data-ng-repeat="(thesaurus, keywords) in mdView.current.record.keywordGroup" data-ng-show="{{ displayKeyword(thesaurus, keywords) }}">
          <label class="item-case">{{getKeywordTitle(thesaurus) | translate}}</label>
          <ul>
            <li data-ng-repeat="k in keywords track by $index" data-ng-if="k" class="tt-cursor item-case"
              title="{{'clickToFilterOn' | translate}} {{k}}">
              <a ng-show="k.indexOf('Published') !== 0" href="" data-ng-click="search({'keyword': k})"><i data-ng-if="$index > 0"> | </i> {{k}}</a>
            </li>
          </ul>
        </div>

        <hr>
        <div data-ng-if="mdView.current.record.getAllContacts().resource">
          <div class="subheader">Contact for the resource</div>
          <div class="gn-contact" data-ng-repeat="c in mdView.current.record.getAllContacts().resource track by $index">
            <h5>
              <i class="fa fa-envelope"></i>
              {{c.role | translate}}
            </h5>
            <div class="row">
              <div class="col-md-8">
                <address>
                  <strong>
                    {{c.org}}<br />
                  </strong>
                  <div data-ng-if="c.email != ''">
                    <a href="mailto:{{c.email}}">
                      <span data-ng-hide="c.name">{{c.email}}</span>
                      <span data-ng-show="c.name">{{c.name}}</span>
                      <span data-ng-show="c.position">({{c.position}})</span>
                    </a>
                  </div>
                  <div data-ng-if="c.email === ''">{{c.name}}
                    <span data-ng-show="c.position">({{c.position}})</span>
                  </div>
                  <div data-ng-if="c.address != ''">{{c.address}}</div>
                  <a href="tel:{{c.phone}}" data-ng-if="c.phone != ''">
                    <span data-translate="">call</span> {{c.phone}}
                  </a>
                </address>
              </div>
              <div class="col-md-4">
                <img data-ng-if="c.logo" class="gn-source-logo" data-ng-src="{{::c.logo}}" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-12">
        <tabset class="rv-tab">
          <tab id="download-tab" class="tablink" heading="Downloads">
            <div data-gn-related="mdView.current.record" data-user="user" data-types="onlines"
              data-has-results="hasRelations.onlines">
            </div>
            <div data-ng-if="isIntranet" class="subheader"
              data-ng-if="mdView.current.record.storedFormat || mdView.current.record.FormatVersion || mdView.current.record.linkLocation">
              Data Repository (Stored Format)</div>
            <div data-ng-if="isIntranet">
              <div class="row tab-items" data-ng-if="mdView.current.record.storedFormat">
                <div class="col-md-3"><b>Formats</b></div>
                <div class="col-md-9">
                  <p>{{mdView.current.record.storedFormat}}</p>
                </div>
              </div>
              <div class="row tab-items" data-ng-if="mdView.current.record.FormatVersion">
                <div class="col-md-3"><b>Version</b></div>
                <div class="col-md-9">
                  <p>{{mdView.current.record.FormatVersion}}</p>
                </div>
              </div>
              <div class="row tab-items" data-ng-if="mdView.current.record.linkLocation">
                <div class="col-md-3"><b>Location</b></div>
                <div class="col-md-9">
                  <p>{{mdView.current.record.linkLocation | characters:50}} &nbsp; <a href="" title="Copy to Clipboard"
                    copy-to-clipboard="{{mdView.current.record.linkLocation}}"><i class="fa fa-files-o fa-5"></i></a>
                  </p>                  
                </div>
              </div>
              <div class="row tab-items" data-ng-if="mdView.current.record.linkDesc">
                <div class="col-md-3"><b>Description</b></div>
                <div class="col-md-9">
                  <p>{{mdView.current.record.linkDesc}}</p>
                </div>
              </div>
            </div>
            <div class="row btn-share">
              <div class="subheader">Share</div>
              <a class="btn btn-sm btn-twitter"
                data-ng-href="https://twitter.com/share?url={{mdView.current.record.PID}}"
                title="{{'shareOnTwitter' | translate}}" target="_blank"><i class="fa fa-fw fa-twitter"></i>&nbsp;
                Twitter</a>
              <a class="btn btn-sm btn-facebook"
                data-ng-href="https://www.facebook.com/sharer.php?u={{mdView.current.record.PID}}"
                title="{{'shareOnFacebook' | translate}}" target="_blank"><i class="fa fa-fw fa-facebook"></i>&nbsp;
                Facebook</a>
              <a class="btn btn-sm btn-linkedIn"
                data-ng-href="http://www.linkedin.com/shareArticle?mini=true&amp;summary={{mdView.current.record.title || mdView.current.record.defaultTitle}}&amp;url={{mdView.current.record.PID}}"
                title="{{'shareOnLinkedIn' | translate}}" target="_blank"><i class="fa fa-fw fa-linkedin"></i>&nbsp;
                LinkedIn</a>
            <a class="btn btn-sm btn-pidlink"
                data-ng-click="mdService.getPermalink(md)"
                title="PID Link" target="_blank"><i class="fa fa-fw fa-link"></i>&nbsp;
                PID Link</a>
            </div>
          </tab>



          <tab class="tablink" heading="Citation">
            <div class="subheader">Publication details</div>
            <div style="display: inline-flex">
              <p>This product was created on {{mdView.current.record.creationDate | date:'mediumDate'}} and published on {{mdView.current.record.publicationDate | date:'mediumDate'}} </p>
            </div>

            <div class="row tab-items" data-ng-if="mdView.current.record.DOI">
              <div class="col-md-3"><b>DOI</b></div>
              <div class="col-md-9">
                <p>{{mdView.current.record.DOI}} &nbsp; <a href="" title="Copy to Clipboard"
                    copy-to-clipboard="{{mdView.current.record.DOI}}"><i class="fa fa-files-o fa-5"></i></a></p>
              </div>
            </div>
            <div class="row tab-items" data-ng-if="mdView.current.record.PID">
              <div class="col-md-3"><b>Persistent Identifier</b></div>
              <div class="col-md-9">
                <p>{{mdView.current.record.PID}} &nbsp; <a href="" title="Copy to Clipboard"
                    copy-to-clipboard="{{mdView.current.record.PID}}"><i class="fa fa-files-o fa-5"></i></a></p>
              </div>
            </div>
            <div class="row tab-items">
              <div class="col-md-3"><b>Citation</b></div>
              <div class="col-md-9">
                <label>{{ getCitation(mdView.current.record) }} &nbsp; <a href="" title="Copy to Clipboard"
                    copy-to-clipboard="{{ getCitation(mdView.current.record) }}"><i
                      class="fa fa-files-o fa-5"></i></a></label>
              </div>
            </div>
          <div class="row tab-items" data-ng-if="mdView.current.record.legalConstraints">
              <div class="col-md-3"><b>Legal Constraints</b></div>
              <div class="col-md-9">
                <p data-ng-repeat="c in mdView.current.record.legalConstraints">{{c}}</p>
              </div>
            </div>
            <div class="row tab-items" data-ng-if="mdView.current.record.securityConstraints">
              <div class="col-md-3"><b>Security Constraints</b></div>
              <div class="col-md-9">
                <p data-ng-repeat="c in mdView.current.record.securityConstraints">
                  {{c}}</p>
              </div>
            </div>			
			<div class="row tab-items" data-ng-if="mdView.current.record.accessCons">
              <div class="col-md-3"><b>Access Constraints</b></div>
              <div class="col-md-9">
                <p> {{mdView.current.record.accessCons}}
               </p>
              </div>
            </div>
			<div class="row tab-items" data-ng-if="mdView.current.record.useCons">
              <div class="col-md-3"><b>Use Constraints</b></div>
              <div class="col-md-9">
                <p> {{mdView.current.record.useCons}}
               </p>
              </div>
            </div>
            <div class="row tab-items" data-ng-if="mdView.current.record.resourceConstraints">
              <div class="col-md-3"><b>Resource Constraints</b></div>
              <div class="col-md-9">
                <p data-ng-repeat="c in mdView.current.record.resourceConstraints">
                  {{c}}</p>
              </div>
            </div>
			<div class="row tab-items" data-ng-if="mdView.current.record.licenceLink">
              <div class="col-md-3"><b>Link to Licence</b></div>
              <div class="col-md-9">
                <p> {{mdView.current.record.licenceLink}}
               </p>
              </div>
            </div>
			<div class="row tab-items" data-ng-if="mdView.current.record.MD_LegalConstraintsUseLimitation">
              <div class="col-md-3"><b>Use Limitations</b></div>
              <div class="col-md-9">
                <p> {{mdView.current.record.MD_LegalConstraintsUseLimitation}}
               </p>
              </div>
            </div>
			
          </tab>

          <tab class="tablink" heading="About">
            <div class="subheader">About the resource</div>
            <div data-ng-if="isIntranet" class="row tab-items">
              <div class="col-md-3"><b>UUID</b></div>
              <div class="col-md-9">
                <p>{{mdView.current.record['geonet:info'].uuid}}</p>
              </div>
            </div>
            <div class="row tab-items">
              <div class="col-md-3"><b>eCat Id</b></div>
              <div class="col-md-6">
                <p>{{mdView.current.record.eCatId}}</p>
              </div>
			  <div class="col-md-3"><div data-ng-if="mdView.current.record.status_text.length > 0"
             title="{{mdView.current.record.status_text[0]}}"
             class="gn-status gn-status-mdview gn-status-{{mdView.current.record.status[0]}}">
             {{mdView.current.record.status_text[0]}}
            </div></div>
            </div>
            <div class="row tab-items">
              <div class="col-md-3"><b>Metadata Standard</b></div>
              <div class="col-md-9">
                <p>{{ mdView.current.record.standardName | join: ', ' }}</p>
              </div>
            </div>
            <div class="row tab-items">
              <div class="col-md-3"><b>Scope Code</b></div>
              <div class="col-md-9">
                <div class="item-case" data-ng-repeat="scope in mdView.current.record.type">
                  <p>{{scope}}</p>
                </div>
              </div>
            </div>
			<div class="row tab-items" data-ng-if="mdView.current.record.scopeName">
              <div class="col-md-3"><b>Scope Name</b></div>
              <div class="col-md-9">
                  <p>{{mdView.current.record.scopeName}}</p>
              </div>
            </div>
			      <div class="row tab-items" data-ng-if="isAvailable(mdView.current.record.purpose)">  
              <div class="col-md-3"><b>Purpose</b></div>
              <div class="col-md-9">
                <p>{{mdView.current.record.purpose}}</p>
              </div>     
            </div>
			      <div class="row tab-items" data-ng-if="::mdView.current.record.maintenanceAndUpdateFrequency_text">
              <div class="col-md-3"><b>Maintenance and Update Frequency</b></div>
                <div class="col-md-9">
                 <p>{{mdView.current.record.maintenanceAndUpdateFrequency_text}}</p>
              </div> 
            </div>
            <div class="row tab-items">
              <div data-ng-if="mdView.current.record.category.length > 0 || mdView.current.record.topicCat.length > 0">
                <div class="col-md-3"><b>Categories</b></div>
                <div class="col-md-9">
                  <ul>
                    <li data-ng-repeat="cat in mdView.current.record.category track by $index"
                      class="btn btn-sm btn-default"
                      title="{{'clickToFilterOn' | translate}} {{('cat-' + cat) | translate}}">
                      <a data-ng-click="search({'_cat': cat})"><i data-ng-if="$index > 0"> | </i> <span
                          class="fa gn-icon-{{cat}} resource-color"></span>{{('cat-' + cat) | translate}}</a>
                    </li>
                    <li data-ng-repeat="cat in mdView.current.record.topicCat track by $index"
                      class="btn btn-sm btn-default"
                      title="{{'clickToFilterOn' | translate}} {{('cat-' + cat) | translate}}">
                      <a data-ng-click="search({'topicCat': cat})"><i data-ng-if="$index > 0"> | </i> <span
                          class="fa gn-icon-{{cat}} resource-color"></span>{{cat | translate}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
          <div class="row tab-items" data-ng-if="mdView.current.record.seriesName">
              <div class="col-md-3"><b>Series Name</b></div>
              <div class="col-md-9">
                <p>{{mdView.current.record.seriesName}}</p>
              </div>
            </div>
            <div class="row tab-items" data-ng-if="mdView.current.record.issueIdentification">
              <div class="col-md-3"><b>Issue Identification</b></div>
              <div class="col-md-9">
                <p>{{mdView.current.record.issueIdentification}}</p>
              </div>
            </div>

            <div class="subheader" data-ng-if="mdView.current.record.parenteCatID">Parent Information</div>
            <div class="row tab-items" data-ng-if="mdView.current.record.parenteCatID">
              <div class="col-md-3"><b>Parent Record</b></div>
              <div class="col-md-9">
                <a href="catalog.search#/metadata/{{mdView.current.record.parenteCatID}}">
                    <p>{{mdView.current.record.parentTitle}}</p></a>
              </div>
            </div>

            </tab>


          <tab class="tablink" heading="Technical" data-ng-click="reloadMap();">
            <div class="subheader">Technical Information</div>

			<div class="row tab-items" data-ng-if="mdView.current.record.crs">
              <div class="col-md-3"><b>Reference System</b></div>
              <div class="col-md-9">
                <p>{{mdView.current.record.crs}}</p>
              </div>
            </div>		
			<div class="row tab-items" data-ng-if="isAvailable(mdView.current.record.geoBox)">
              <div class="col-md-3"><b>Geographical Bounding Box</b></div>
              <div class="col-md-9">
                <!--<p>{{mdView.current.record.geoBox}}</p>-->
                <p>{{getBoundingBox(mdView.current.record.geoBox)}}</p>
              </div>
            </div>
            <div class="row tab-items" data-ng-if="isAvailable(mdView.current.record.geoBox)">
              <div class="col-md-3"><b>Spatial Extent</b></div>
              <div class="col-md-9">
                <!--<p data-ng-repeat="bbox in mdView.current.record.geoBox">
                  <img class="gn-img-thumbnail img-thumbnail gn-img-extent"
                    data-ng-src="region.getmap.png?mapsrs=EPSG:3857&width=250&background=osm&geomsrs=EPSG:4326&geom={{mdView.current.record.getBoxAsPolygon1(bbox)}}" />
                </p>-->
                <div data-gn-map-view="searchObj.recordMap"></div>
              </div>
            </div>
            <div class="row tab-items"
              data-ng-if="mdView.current.record.tempExtentBegin || mdView.current.record.tempExtentEnd">
              <div class="col-md-3"><b>Temporal Extent</b></div>
              <div class="col-md-9">
                <p>{{mdView.current.record.tempExtentBegin | date:'mediumDate' }} -
                  {{mdView.current.record.tempExtentEnd | date:'mediumDate'}}</p>
              </div>
            </div>

            <div class="row tab-items"
              data-ng-if="mdView.current.record.vertExtentMin || mdView.current.record.vertExtentMax">
              <div class="col-md-3"><b>Vertical Extent</b></div>
              <div class="col-md-9">
                <p>{{mdView.current.record.vertExtentMin}} (min) - {{mdView.current.record.vertExtentMax}} (max)</p>
              </div>
            </div>

            <div class="row tab-items" data-ng-if="isAvailable(mdView.current.record.vertExtentRef)">
              <div class="col-md-3"><b>Vertical CRS</b></div>
              <div class="col-md-9">
                <p>{{mdView.current.record.vertExtentRef}}</p>
              </div>
            </div>
			
			<div class="row tab-items" data-ng-if="::mdView.current.record.levelOfDetail">
              <div class="col-md-3"><b>Spatial Resolution/<br>Accuracy</b></div>
              <div class="col-md-9">
                <p>{{mdView.current.record.levelOfDetail}}</p>
              </div>
            </div>
            <div class="row tab-items" data-ng-if="::mdView.current.record.lineageStatement">
              <div class="col-md-3"><b>Lineage</b></div>
              <div class="col-md-9">
                <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350"
                  dd-text-collapse-text="{{mdView.current.record.lineageStatement}}"></p>
              </div>
            </div>
			
			</tab>
			
			<tab class="tablink" heading="Web Services" data-ng-if="mdView.current.record.type=='service'">
			
			<div class="subheader">Web Services Information</div>
			
			<div class="row tab-items">
			<div class="col-md-3"><b>Service Type Name</b></div>
              <div class="col-md-9">
                <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350"
                  dd-text-collapse-text="{{mdView.current.record.serviceType}}"></p>
              </div>
            </div>
			
			
			<div class="row tab-items">
			<div class="col-md-3"><b>Service Type Version</b></div>
              <div class="col-md-9">
                <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350"
                  dd-text-collapse-text="{{mdView.current.record.serviceTypeVersion}}"></p>
              </div>
            </div>
			
			<div class="row tab-items">
			<div class="col-md-3"><b>Coupling Type</b></div>
              <div class="col-md-9">
                <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350"
                  dd-text-collapse-text="{{mdView.current.record.couplingType}}"></p>
              </div>
            </div>
			
			<div class="row tab-items">
			<div class="col-md-3"><b>Operation Name</b></div>
              <div class="col-md-9">
                <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350"
                  dd-text-collapse-text="{{mdView.current.record.operation}}"></p>
              </div>
            </div>
			
			<div class="row tab-items">
			<div class="col-md-3"><b>Distributed Computing Platform</b></div>
              <div class="col-md-9">
                <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350"
                  dd-text-collapse-text="{{mdView.current.record.dcp}}"></p>
              </div>
            </div>
			
			<div class="row tab-items">
			<div class="col-md-3"><b>Operation Description</b></div>
              <div class="col-md-9">
                <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350"
                  dd-text-collapse-text="{{mdView.current.record.operationDesc}}"></p>
              </div>
            </div>
			
			<div class="row tab-items">
			<div class="col-md-3"><b>Connect Point</b></div>
              <div class="col-md-9">
                <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350"
                  dd-text-collapse-text="{{mdView.current.record.connectPoint}}"></p>
              </div>
            </div>
			
			<div class="row tab-items">
			<div class="col-md-3"><b>Parameter Name</b></div>
              <div class="col-md-9">
                <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350"
                  dd-text-collapse-text="{{mdView.current.record.parameterName}}"></p>
              </div>
            </div>
			
			<div class="row tab-items">
			<div class="col-md-3"><b>Parameter Description</b></div>
              <div class="col-md-9">
                <p class="text-justify" dd-text-collapse dd-text-collapse-max-length="350"
                  dd-text-collapse-text="{{mdView.current.record.parameterDesc}}"></p>
              </div>
			</div>			
          </tab>

		  <tab class="tablink" heading="Associations" data-ng-if="isAvailable(mdView.current.record.Associations)">                    
            <div class="subheader">Associations</div>
            <div class="row tab-items">
              <div class="col-md-3"><b>Associations</b></div>
              <div class="col-md-9">
                <div data-ng-repeat="association in getAsArray(mdView.current.record.Associations)">
                  <p data-ng-if="!isHprmLink(association) || isIntranet">
                      {{association.split('~')[1]}}<br><a data-ng-href="{{association.split('~')[3]}}">
                          {{association.split('~')[3]}}</a><br>{{association.split('~')[0]}}
                  </p>                  
                  </div>
              </div>
            </div>
			<!----<div class="row tab-items" data-ng-if="mdView.current.record.source">
              <div class="col-md-3"><b>Source Datasets</b></div>
              <div class="col-md-9">
                <a href="catalog.search#/metadata/{{mdView.current.record.source}}">
                    <p>{{mdView.current.record.source}}</p></a>
              </div>
            </div>-->
          </tab>
        </tabset>
      </div>
    </div>
    <div class="row"></div>
  </div>

</div>
