<ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center" data-ng-if="$index < maxItems" data-ng-repeat="c in category | orderBy: 'label'" 
    data-ng-init="path = buildPath(c); label = buildLabel(c); isSelected = isOnDrillDownPath(c)">
    <label ng-show="c['@value'].indexOf('Published') !== 0" title="{{c['@label'] || c['@value']}}" data-ng-class="{'gn-facet-active': isSelected}">
      <input type="checkbox" style="opacity:0;" 
            data-ng-checked="isInFilter(c)"
            data-ng-click="filter(c, $event)"/>&nbsp;
            <span class="fa gn-icon-{{c['@value']}}"></span>&nbsp;<span class="gn-facet-label" data-ng-class="" data-ng-class="{'gn-facet-active': isSelected}">{{(c['@label'] || c['@value']) | characters:25}}</span>&nbsp;
            <span data-ng-if="isSelected" class="pull-right" style="padding-right: 5px"><i class="fa fa-times"></i></span>
            <!--<span class="badge badge-secondary badge-pill">({{c['@count']}})</span> -->
    </label>
    </li>
    <li class="list-group-item" data-ng-if="category.length - initialMaxItems > 0">
      <button data-ng-click="toggleAll()" class="btn btn-link">
        ...{{(category.length >= maxItems) ? ('more' | translate) : ('less' | translate)}}
      </button>
    </li>
  </ul>
