<div class="gn-logo-nav">
  <div class=container-fluid>
    <div class="row">
      <div class="col-md-3">
        <a data-gn-active-tb-item="http://www.ga.gov.au/"  title="Navigate to the Geoscience Australia home page">
        <img class="gn-logo" data-ng-src="../../catalog/views/default/images/ga.header.logo.png" />
      </a>
      </div>
      <div class="user-info">
        <div data-ng-include="'../../catalog/templates/userInfo.html'" />
      </div>
      <div class="title-lg col-md-6">
        <span>Data and Publications Search<span data-ng-if="user.isEditorOrMore()"> and Metadata Entry Tool</span></span>
        <img data-ng-src="../../catalog/views/default/images/eCat_logo.jpg" data-ng-if="user.isEditorOrMore()"/>
      </div>                        
	  <div class="infoIcon">
        <a data-gn-active-tb-item="catalog.search#/about"><i class="fa fa-info-circle" style="font-size:25px;color:#45c2f0;float:right;"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="ga-line"></div>
<br>
<div class="user-menu pull-right" style="margin-right:20px" data-ng-show="activeTab !== '/home' && activeTab !== '/search' && activeTab !== '/board'" >
  <div class="user-menu-item">
    <a data-gn-active-tb-item="catalog.search#/search" title="{{'search' | translate}}">
      <i class="fa fa-search"></i>&nbsp;SEARCH</a>
  </div>
  <div class="user-menu-item" data-ng-show="authenticated && user.isEditorOrMore()">
    <a data-gn-active-tb-item="catalog.edit" title="Manage my records" href="">
      <i class="fa fa-plus"></i>&nbsp;MANAGE</a>
  </div>
  <div class="user-menu-item" data-ng-show="user.isUserAdminOrMore()">
    <a data-gn-active-tb-item="admin.console" title="{{'adminConsole' | translate}}" href="">
      <i class="fa fa-th"></i>&nbsp;ADMIN CONSOLE</a>
  </div>
</div>
