<div class="user-menu" data-ng-show="activeTab !== '/home'">
    <div class="user-menu-item" data-ng-show="activeTab !== '/search'">
      <a data-gn-active-tb-item="catalog.search#/search" title="{{'search' | translate}}">
        <i class="fa fa-search"></i>&nbsp;SEARCH</a>
    </div>
    <div class="user-menu-item" data-ng-show="authenticated && user.isEditorOrMore() && activeTab !== '/board'">
      <a data-gn-active-tb-item="catalog.edit" title="Manage my records" href="">
        <i class="fa fa-plus"></i>&nbsp;MANAGE</a>
    </div>
    <div class="user-menu-item" data-ng-show="user.isUserAdminOrMore()">
      <a data-gn-active-tb-item="admin.console" title="{{'adminConsole' | translate}}" href="">
        <i class="fa fa-th"></i>&nbsp;ADMIN CONSOLE</a>
    </div>
</div>